@font-face {
    font-family: 'CustomFont';
    src: url('valContent/Valorant-Font.ttf') format('truetype');
    /* Additional font properties */
  }

  *{
    box-sizing: border-box;
  }

  h1{
     font-size: 3rem;
  }

  h2{
    padding: 20px;
  }

  body{
    font-family: "Segoe UI", Arial, sans-serif;
    color: white;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    /* overflow-y: visible; */
    height: 100vh;
    
  }


  :root{
     --primary-red: #FF4655;
     --dull-white: #D1C9C9;
  }

  /* NAV -------------------------------------------------------- */ 

  nav{
     position: fixed;
     padding: 20px 0px 20px 0px;
     z-index: 1;
     top: 0;
     left: 0;
     width: 100%;
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     box-shadow: 4px 4px 7px 4px rgba(0, 0, 0, 0.8);
     backdrop-filter: blur(8px);
     
     
     

  }

  ul{
    flex-grow: 1;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: 0px 25px;
  }

 a{
    font-family: 'CustomFont', sans-serif;
    text-decoration: none;
    padding: 10px 35px;
    color: white;
    
  }

  a:hover{
    border: 4px solid white;
    border-radius: 20px;
    transition: 0.5s ease-out;
  }



  .knife{
    width: 75px;
    position: absolute;
    top: 870%;
    right: 1%;
    
  }

  .main-nav-bkgd{

  }

  #searchBtn{
    font-size: 40px;
    color: white;
    padding: 10px;
 }

  .search-bar-div{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .search-bar{
    background-color: transparent;
    color: white;
    padding: 10px;
    border-radius: 10px;
  }

  .search-bar::placeholder {
    color: white;
  }

  #arrowBtn{
    color: white;
    font-size: 40px;
    padding: 10px;
    
  }

  /* FOOTER -------------------------------------------------------- */

  footer{
    background-color: #D1C9C9;
    
    position: absolute;
    height: 700px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .terms{
    display: flex;
    padding: 20px;
  }

  .copyright{

  }

  .fLogos{

  }

  .media-icons{
    margin-bottom: 20px;
  }

  .insta{
   width: 50px;
  }

  .youtube{
    width: 60px;
  }

  .fbook{
    width: 40px;
  }

  .i{
    padding: 10px;
  }

  .rating{
    width: 200px;
  }

  .media-icons{

  }

  .f-val{
    width: 200px;
  }

  .f-riot{
     width: 200px;
  }

  /* HOME -------------------------------------------------------- */ 

  .logo1{
     width: 150px;
     padding: 0px 10px 0px 40px;
  }

  .logo2{
    width: 75px;
  }

  .header-main{
    position: absolute;
    margin-left: 4%;
    top: 13%;
    width: 800px;
    
  }

  .section{
    scroll-snap-align: start;
  }




  .main-vid-bkgd-case{
    width: 100%;
  }

  .main-vid-bkgd{
    top: -200px;
    left: 50%;
    padding:0;
    margin: 0;
    width: 100%;
    position: relative;
    
    transform: translate(-50%, -15%);
  }


  .sec1-bkgd-case{
    position: absolute;
    top: 30%;
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .sec1-bkgd{
    width: 100%;
    box-shadow: 4px 4px 7px 4px rgba(0, 0, 0, 0.8);

  }


  .img-div-main{
    position: absolute;
    display: flex;
    top: 32%;
    left: 3%;
    box-shadow: 4px 4px 7px 4px rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(8px);
    padding: 20px;
  }

  .main-img{
     width: 500px;
     box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.8);
     border: 2px solid white;
     
  }

  .main-img-diff{
    width: 470px;
    box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.8);
    border: 2px solid white;
  }

  .we-are-text{
    position: absolute;
    width: 800px;
    top: 28%;
    left: 3%;
    
   
  }

  .the-latest{
    position: absolute;
    width: 500px;
    top: 33%;
    left: 9%;
    z-index: 1;
  }

  .valorant-text{
    position: absolute;
    width: 1100px;
    top: 57%;
    left: 30%;
    
  }



  .f1, .f2, .f3{
    
    
  }

  .f-text{
    display: flex;
    justify-content: space-between;
    align-items: center;
  
  }

  .info-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 600px;
    padding: 40px;
  }

  .last-main{
    position: absolute;
    display: flex;
    top: 60%;
    left: -1%;
    margin: 100px;
    box-shadow: 4px 4px 7px 4px rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(8px);
    padding: 20px;
  }

  .char-case-main{
    position: absolute;
    top: -150px;
    left: 1450px;
  }

  .char1{
    filter: drop-shadow(4px 4px 8px rgba(0, 0, 0, 1));
     width: 1200px;
  }

  .jett-login-vid{
    width: 250px;
    filter: drop-shadow(4px 4px 8px rgba(0, 0, 0, 1));
    
  }

  .btnPad{
    border: 2px solid var(--dull-white);
    padding: 5px;
    width: 150px;
    border-radius: 0px 0px 0px 15px;
    
  }

  .learnBtn{
    border-radius: 0px 0px 0px 15px;
    cursor: pointer;
  }
  


  .playBtn{
    border-radius: 10px;
    cursor: pointer;
  }
  

  .btn{
    background-color: var(--primary-red);
    padding: 15px;
    color: white;
    
  }

  .btn:hover{

    background-image: linear-gradient(to right, #ff5e62, #ff9966);

  }

  /* HOME PAGE 2 -------------------------------------------------------- */

  .page2{
    
  }

  .page2-last{
     position: relative;
     top: 930px;
     display: flex;
     flex-direction: row;
     box-shadow: 7px 4px 7px 7px rgba(0, 0, 0, 0.8);
  }

  .gun1, .char-info{
     width: 900px;
     
  }

  .gun-text{
    backdrop-filter: blur(8px);
    padding: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
  }
  .smoke-overlay{
    position: absolute;
    width: 100%;

  }
  
  /* HOME PAGE 3 -------------------------------------------------------- */

  .page3{

  }

  .page3-bkgd{
    position: absolute;
    top: 219%;
    width: 100%;
    padding: 0;
    margin: 0;
    box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.8);
  }

  .page3-bkgd-case{

  }
  
  .p3-left-div{
     position: absolute;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     top: 222%;
  }

  .p3-map1{
    width: 700px;
    box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.8);
    border: 2px solid white;
   
  }

  .p3-top-div, .p3-bottom-div{
      padding: 40px;
      margin-left: 80px;
  }

  .p3-right-div{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    top: 238%;
    width: 1200px;
    margin-left: 35%;
  }

  .p3-large-vid{
    width: 1200px;
    padding: 40px;
    filter: drop-shadow(5px 0px 20px  rgba(255, 255, 255, 1));
    
  }

  .p3-vidText-div{
    width: 900px;
  }

  .char2{
    filter: drop-shadow(4px 4px 8px rgba(0, 0, 0, 1));
    width: 800px;
    position: absolute;
    top: -20%;
    left: 75%;
    
   
  }

  .new-text{
    position: absolute;
    width: 600px;
    top: 222%;
    left: 10%;
  }

  .content-text{
    position: absolute;
    width: 1000px;
    top: 235%;
    left: 45%;
  }

  /* HOME PAGE 4 -------------------------------------------------------- */
  
  .p4-bkgd{
    position: absolute;
    width: 100%;
    top: 315%;
    
  }

  .p4-valorant-white{
    position: absolute;
    width: 1500px;
    top: 330%;
    left: 4%;
    opacity: 0.5;
  }

  .p4-we-are-white{
    position: absolute;
    width: 1350px;
    top: 395%;
    left: 50%;
    opacity: 0.5;
  }

  .white-val-logo{
    width: 70px;
    transform: rotate(180deg);
    
  }

  .house{
    width: 700px;
    filter: drop-shadow(4px 4px 8px rgba(0, 0, 0, 1));
    transform: scaleX(-1);

  }

  .dock{
    width: 750px;
    filter: drop-shadow(4px 4px 8px rgba(0, 0, 0, 1));
  }

  .p4-top-div{
    position: absolute;
    top: 320%;
    display: flex;
    padding: 40px;
  
  }

  .p4-bottom-div{
    position: absolute;
    top: 380%;
    display: flex;
    padding: 40px;
  }

  .col-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px;;
   
  }

  .p4-btn-div{
    position: absolute;
    top: 370%;
    right: -1%;
  }

  .top-btn{
    border-radius: 0px 0px 0px 15px;
    cursor: pointer;
    padding: 20px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  
  }


  /* NEWS P1 -------------------------------------------------------- */ 



.news1-bkgd, footer{
  
  width: 100%;
}

.news1-valorant-white{
  position: absolute;
  top: 80%;
  left: 55%;
  opacity: 0.7;

}

.news1-we-are-white{
  position: absolute;
  top: 20%;
  left: 2%;
  opacity: 0.7;
}

.news1-vid-div{
  position: absolute;
  top: 24%;
  left: 38%;

}

.patches{
  display: flex;
  justify-content: flex-end;
}

.now{
  position: absolute;
  top: 22%;
  left: 70%;
  font-size: 2em;
  filter: drop-shadow(4px 4px 8px rgba(0, 0, 0, 1));
}

.news-header{
  position: absolute;
  top: 10%;
  left: 27%;
  font-size: 6em;
  filter: drop-shadow(4px 4px 8px rgba(0, 0, 0, 1));
}

.viper-des{
  width: 600px;
}


.viper-intro{
  width: 600px;
  border: 2px solid white;
  filter: drop-shadow(4px 4px 8px rgba(0, 0, 0, 1));
}

#d-arrow{
  position: absolute;
  top: 70%;
  left: 15%;
  font-size: 100px;
}


  /* NEWS P2 -------------------------------------------------------- */ 


  .newsp2-main{
    position: absolute;
    top: 125%;

  }

  .newsp2-header{
    position: absolute;
    top: -20%;
    left: 100%;
    font-size: 5em;
    filter: drop-shadow(4px 4px 8px rgba(0, 0, 0, 1));
  }
  
  .newsp2-info{
    padding: 60px;
    width: 800px;
  }

  .p2-content{
    display: flex;
    padding: 80px;
    border-bottom: 2px solid white;
    border-top: 2px solid white;
  }

  .newsp2-img1, .newsp2-img2 {
    width: 700px;
    border: 2px solid white;
    filter: drop-shadow(4px 4px 8px rgba(0, 0, 0, 1));
  }

  #side-arrow{
    padding: 30px;
    font-size: 40px;
  }

  #d-arrowp2{
    position: absolute;
    top: 60%;
    left: 120%;
    font-size: 100px;
  }


/* NEWS P3 */ 

.newsp3-main{
  position: absolute;
  top: 235%;
  

}



/* Media p1 -------------------------------------------------------- */ 

.media-bkgd-p1{
  width: 122%;
}

.mediaH1{
  filter: drop-shadow(4px 4px 8px rgba(0, 0, 0, 1));
  position: absolute;
  top: -13%;
  left: 5%;
}

.mediaH2{
  filter: drop-shadow(4px 4px 8px rgba(0, 0, 0, 1));
  position: absolute;
  top: 85%;
  left: 35%;
}

.media-main{
 
  position: absolute;
  display: flex;
  top: 62.5%;
  backdrop-filter: blur(8px);
  box-shadow: 4px 4px 7px 4px rgba(0, 0, 0, 0.8);
  width: 100%;
}


.media-main-info{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-left: 400px;
   
   

}

.media-main-para{
  font-size: 1.2rem;
}

.media-2nd{
  width: 700px;
}

.info-header{
  display: flex;
  padding: 50px;
}

.info-para{
  
}

.media-logo{
  width: 500px;
  filter: drop-shadow(4px 4px 8px rgba(0, 0, 0, 1));
  position: absolute;
  top: 20%;
  left: 40%;
}

.phoenix{
  filter: drop-shadow(4px 4px 8px rgba(0, 0, 0, 1));
  width: 1100px;
}

.cypher{
  filter: drop-shadow(4px 4px 8px rgba(0, 0, 0, 1));
  width: 250px;
  position: absolute;
  right: 100px;
}

.small-val-logo{
  width: 200px;
}


/* Media p2 */

.media-p2-bkgd{
  width: 100%;
}

.mediap2-main{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 5%;
  top: 110%
}

.class1, .ability-info, .abil-icons  {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  padding: 100px;
  

}

.media2-header-div{
  position: absolute;
  top: 105%;
  left: 8%;
  display: flex;
  flex-direction: column;
 
}

.header1-media{
  padding: 0;
  margin-top: 0;
  margin-left: 55%;
}


.class1{
  margin-bottom: 35%;
  
}

.ability-info{
  margin-top: 5%;
}

.we-are-media{
  position: absolute;
  top: 170%;
  left: 6%;
  opacity: 0.7;
}

.yoru-header{

  font-size: 4rem;
  padding: 0;
  margin: 0;
}

.yoru{
  width: 800px;
  filter: drop-shadow(4px 4px 8px rgba(0, 0, 0, 1));
}

.abil{
  width: 100px;
  margin: 50px;
  filter: drop-shadow(4px 4px 8px rgba(0, 0, 0, 1));
}

#media-arrow{
  position: absolute;
  top: 195%;
  left: 45%;
  font-size: 10rem;
}

/* Media p3 -------------------------------------------------------- */

.media-p3{

}

.mediap3-main{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 5%;
  top: 220%
}

.media3-header-div{
  position: absolute;
  top: 214%;
  right: 6%;
  display: flex;
  flex-direction: column;
 
  
}


.cypher-header{
  padding: 0;
  margin: 0;
  font-size: 4rem;
}

.header2-media{
  padding: 0;
  margin-top: 0;
  margin-left: 65%;
}

.valorant-media{
  position: absolute;
  top: 290%;
  left: 60%;
  opacity: 0.7;
}

.cypher-div{
  
}

.cypher-media{
  width: 990px;
  filter: drop-shadow(4px 4px 8px rgba(0, 0, 0, 1));
}

#media-arrow2{
  position: absolute;
  top: 306%;
  left: 45%;
  font-size: 10rem;
}


/* Media p4 -------------------------------------------------------- */

.media4-header-div{
  position: absolute;
  top: 325%;
  left: 10%;
  display: flex;
  flex-direction: column;
}

.jett-header{
  padding: 0;
  margin: 0;
  font-size: 4rem;
}

.header3-media{
  padding: 0;
  margin-top: 0;
  margin-left: 45%;
}

.mediap4-main{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: -4%;
  top: 330%
}

.jett-div{

}

.jett-media{
  width: 990px;
  filter: drop-shadow(4px 4px 8px rgba(0, 0, 0, 1));
}



.we-are-media4{
  position: absolute;
  top: 390%;
  left: 4%;
  opacity: 0.7;
}