@font-face {
    font-family: 'CustomFont';
    src: url('valContent/Valorant-Font.ttf') format('truetype');
    /* Additional font properties */
  }

  *{
    box-sizing: border-box;
  }

  body{
    font-family: "Segoe UI", Arial, sans-serif;
    color: white;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    /* overflow-y: visible; */
    height: 100vh;
    
  }


  :root{
     --primary-red: #FF4655;
     --dull-white: #D1C9C9;
  }

  /* NAV */

  nav{
     position: fixed;
     padding: 20px 0px 20px 0px;
     z-index: 1;
     top: 0;
     left: 0;
     width: 100%;
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     box-shadow: 4px 4px 7px 4px rgba(0, 0, 0, 0.8);
     backdrop-filter: blur(8px);
     
     
     

  }

  ul{
    flex-grow: 1;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: 0px 25px;
  }

 a{
    font-family: 'CustomFont', sans-serif;
    text-decoration: none;
    padding: 10px 35px;
    color: white;
    
  }

  a:hover{
    border: 4px solid white;
    border-radius: 20px;
    transition: 0.5s ease-out;
  }

  .knife{
    width: 75px;
    position: absolute;
    top: 1020%;
    right: 1%;
    
  }

  .main-nav-bkgd{

  }

  #searchBtn{
    font-size: 40px;
    color: white;
    padding: 10px;
 }

  .search-bar-div{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .search-bar{
    background-color: transparent;
    color: white;
    padding: 10px;
    border-radius: 10px;
  }

  .search-bar::placeholder {
    color: white;
  }

  #arrowBtn{
    color: white;
    font-size: 40px;
    padding: 10px;
    
  }

  /* MAIN */ 

  .logo1{
     width: 150px;
     padding: 0px 10px 0px 40px;
  }

  .logo2{
    width: 75px;
  }

  .header-main{
    position: absolute;
    margin-left: 4%;
    top: 13%;
    width: 800px;
    z-index: 1;
  }

  .section{
    scroll-snap-align: start;
  }




  .main-vid-bkgd-case{
    width: 100%;
  }

  .main-vid-bkgd{
    top: -200px;
    left: 50%;
    padding:0;
    margin: 0;
    width: 100%;
    position: relative;
    
    transform: translate(-50%, -15%);
  }


  .sec1-bkgd-case{
    position: absolute;
    top: 30%;
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .sec1-bkgd{
    width: 100%;
    box-shadow: 4px 4px 7px 4px rgba(0, 0, 0, 0.8);

  }



  .img-div-main{
    position: absolute;
    display: flex;
    top: 32%;
    left: 3%;
    box-shadow: 4px 4px 7px 4px rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(8px);
    padding: 20px;
  }

  .main-img{
     width: 500px;
     box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.8);
     border: 2px solid white;
     
  }

  .main-img-diff{
    width: 470px;
    box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.8);
    border: 2px solid white;
  }

  .we-are-text{
    position: absolute;
    width: 800px;
    top: 28%;
    left: 3%;
    
   
  }

  .the-latest{
    position: absolute;
    width: 500px;
    top: 33%;
    left: 9%;
    z-index: 1;
  }

  .valorant-text{
    position: absolute;
    width: 1100px;
    top: 57%;
    left: 30%;
    
  }



  .f1, .f2, .f3{
    
    
  }

  .f-text{
    display: flex;
    justify-content: space-between;
    align-items: center;
  
  }

  .info-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 600px;
    padding: 40px;
  }

  .last-main{
    position: absolute;
    display: flex;
    top: 60%;
    left: -1%;
    margin: 100px;
    box-shadow: 4px 4px 7px 4px rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(8px);
    padding: 20px;
  }

  .char-case-main{
    position: absolute;
    top: -150px;
    left: 1450px;
  }

  .char1{
    filter: drop-shadow(4px 4px 8px rgba(0, 0, 0, 1));
     width: 1200px;
  }

  .jett-login-vid{
    width: 250px;
    
  }

  .btnPad{
    border: 2px solid var(--dull-white);
    padding: 5px;
    width: 136px;
    border-radius: 0px 0px 0px 15px;
    
  }

  .learnBtn{
    border-radius: 0px 0px 0px 15px;
    cursor: pointer;
  }
  


  .playBtn{
    border-radius: 10px;
    cursor: pointer;
  }
  

  .btn{
    background-color: var(--primary-red);
    padding: 15px;
    color: white;
    
  }

  .btn:hover{

    background-image: linear-gradient(to right, #ff5e62, #ff9966);

  }

  /* PAGE 2 */

  .page2{
    
  }

  .page2-bkgd-case{
    
   
    
  }

  .page2-bkgd{
    width: 100%;
    position: absolute;
    
    
  }

  .smoke-overlay{
    position: absolute;
    height: 110%;
    z-index: 2;
    opacity: 0.3;
  }